body {
	font-family: Georgia, serif;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 1em;
}

h1 {
	font-family:Droid Sans, Arial, sans-serif;
	margin-top:0em;
	margin-bottom:0.2em;
	font-size:1.5em;
}

h2 {
	font-family:Droid Sans, Arial, sans-serif;
	margin-top:0.2em;
	margin-bottom:0.2em;
	font-size:1.2em;
}

h3 {
	font-family:Droid Sans, Arial, sans-serif;
	margin-top:0.3em;
	margin-bottom:0em;
	font-size:1.0em;
}

button {
	margin: 0.2em 0.1em 0.1em 0.1em;
}

label {
	display: block;
}

textarea {
	width:98%;
}

.titleContainer {
	padding:0.2em;
	background-color: #ccebff;
}

.adventureContainer {
	min-height: 1.5em;
	padding:0.2em;
	background-color: #4db8ff
}

.activityContainer {
	padding:0.2em;
	background-color: #eeeeee;	
}

.theLogClass {
	width:99%;
	min-height: 20em;
}

.infoLabel {
	font-family:Georgia, serif;
	margin-top: 0.5em;
	margin-bottom: 0.3em;
	font-size: 0.7em;	
}

.displayBox {
	min-height: 1.1em;
	min-width: 10em;
	max-width: 10em;
	margin: 0.2em 0.1em 0.1em 0em;
	background-color: #dddddd;
	border: 1px solid black;
	padding: 0.1em;
}

.displayBoxWide {
	min-height: 1.1em;
	min-width: 20.2em;
	max-width: 20.2em;
	margin: 0.2em 0.1em 0.1em 0em;
	background-color: #dddddd;
	border: 1px solid black;
	padding: 0.1em;
}

.displayBoxNarrow {
	min-height: 1.1em;
	min-width: 5em;
	max-width: 5em;
	margin: 0.2em 0.1em 0.1em 0em;
	background-color: #dddddd;
	border: 1px solid black;
	padding: 0.1em;
	
}

.miniHelper {
	background-color:transparent;
	padding: 0em;
	margin: 0.2em 0.2em 0em 0em;
	display: block;
	float: left;
}

.helperContainer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	min-height: 5.2em;
	padding:0.1em;
	background-color: #eeeeee;
}

.mechanicContainer {
	display: none;
	flex-wrap: wrap;
	align-items: center;
	padding:0.1em;
	overflow-x: auto;
	border: 1px solid #ccc;
	border-top: 0px;

}

.invisibleContainer {
	display: block;
	margin: 0.2em 0em 0.2em 0em;
	padding: 0.2em;
	border-color: black;
	border-width: 2px;
	border-style: solid;
}

.invisibleContainerFlex {
	display: flex;
	margin: 0.2em 0em 0.2em 0em;
	padding: 0.2em;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	
}

.halfWidthContainer {
	width: 48%;
	padding: 1% 1% 1% 1%;
	float: left;
	margin: 0 0 0 0;
	border: 0 0 0 0;
}

.legal_msg {
	font-family: Georgia, serif;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 0.7em;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  padding: 0;
  margin: 0;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.2em;
  transition: 0.3s;
  font-size: 1em;
  margin: 0;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}
